<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="container-fluid">
        <a clas="navbar-brand">BookShop</a>
        <button class="navbar-toggler" (click)="isCollapsed=!isCollapsed" >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" [(ngbCollapse)]="isCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li *ngIf="!isAuth" class="nav-item">
                <a class="nav-link" (click)="openAuthForm()">Signin</a>
            </li>
            <li *ngIf="isAuth" class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
        <form class="d-flex" [formGroup]="form" (ngSubmit)="searchWithKey()">
            <input formControlName="search" class="form-control me-2" type="search" placeholder="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<ngb-alert *ngIf="message!=null" [type]="'success'">{{message}}</ngb-alert>
<!--This will show the books-->
<app-books *ngFor="let book of books" [book]="book" [isAuth]="isAuth" (deleteOpen)="openDelForm($event)" (updateOpen)="openUpdateForm($event)"></app-books>

<button class="btn btn-primary fab" (click)="openBookRegForm()" *ngIf="isAuth">&#43;</button>